/* general styling */
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Quicksand;
    background: #807d7d;
}


.container{
    width: 90%;
    margin: 4em auto;
    line-height: 20px;
    text-align: justify;
}

/* header */
header{
    width: 100%;
    height: 100vh;
    background: url(../images/view.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: orange;
    font-weight: bold;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

nav ul li a:hover{
    color: orange;
}

.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

/* main content*/
.banner-heading{
    color: rgb(8, 8, 8);
    position: absolute;
    top: 20%;
    left: 30px;
    font-size: 30px;
    text-align: right;
}

.banner-heading >h1{
    color: orange;
    text-align: center;    
    top: 20%;
    padding-left: 20px;
} 




/* footer */
.footer{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(../images/foot.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: auto;
    padding: 10px;
}

#footer-cont{
    display: flex;
    justify-content: space-between;
}

.footer-cont-title{
    color: orange;
}

.footer-cont-subtitle{
    color: white;
}

.footer-logo{
    padding-top: 20px;
    color:orange;
    font-weight: bold;
    font-size: 24px;
}

.fa-facebook{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-facebook:hover{
    background-color: orange;
    color: #3b5998;
}


.fa-twitter{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-twitter:hover{
    background-color: orange;
    color: #00aced;
}

.fa-youtube{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-youtube:hover{
    background-color: orange;
    color: #bb0000;
}

.footer-hr{
    background-color: orange;
    height: 2px;
    border: none;
}

.copyright{
    text-align: center;
    color: #fff;
}


/* media queries*/
@media(max-width: 580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul{
        max-height: 0px;
        background: #000;
    }

    nav.black ul{
        background: #000;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu-icon{
        display: block;
    }
   
    #footer-cont{
        flex-direction: column-reverse;
    }
}